
*{
    margin: 0px ;
    padding: 0 10px;
}

a{ 
    color: aliceblue;
    text-decoration: none;

 }

body{
    background-image:linear-gradient(to left, #920031, #ff8e62);


}

img{  
   height: 210px;
    width: 210px;
    top: -2%;
 position: absolute;
}

section{
    background-color: linear-gradient( to left,#a8053c, #ff916f);
    display: block;
    justify-content: space-evenly ;
    align-items: normal;
    padding: 24px 0;
    height: 65px;
  
}
cardapio{ 
    background-image:linear-gradient(to left, #920031, #ff8762);
}

sobre{ 
    background-image:linear-gradient(to left, #920031, #ff8762);
}

contato { 
    background-image:linear-gradient(to left, #920031, #ff8762);
}


  
nav {
    max-width: 350px;
    width: 100%;
    margin-left: 1460px;
    background-image: linear-gradient(to left, #920031, #e90f46) ;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    margin-left: 70px;
    transition-delay: 20s;

}

nav ul li{
    border-bottom: 1px solid var(--cor-secundaria);

}

nav ul li a {
    background-color: var(--cor-principal);
    color: #ffffff;
    padding: 10px;
    display: block;
    text-decoration: none;
   
    text-transform: uppercase;
text-decoration: none;
      display: block;
      padding: 5px;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    
  }

  .max{
    width: 240px;
    height: 923px;
    overflow: hidden;
  

}

.max > li{
    height: 18px;
    width: 200px;
    margin-bottom:10px;
    padding: 5px;
    padding-left: 20px;
    float:left;
    overflow:hidden;    
    -moz-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
    -moz-transition-delay:0.15s;
    -webkit-transition-delay:0.15s;
    -o-transition-delay:0.15s;
    transition-delay:0.15s;
}

.max > li:hover{
    height: 80px;
}

.max > li.gr:hover{
    height: 215px;
}

.max > li ul li{
    width: 100px;
    text-align: left;
}

